<div id="footer">
	<ul class="navigation round">
		<li><%= link_to "About", '#' %></li>
		<li><%= link_to "Contact", '#' %></li>
		<li><a href="http://news.anaraja.com/">News</a></li>
		<li><a href="http://www.anaraja.com/">Anaraja</a></li>
	</ul>
</div>